*{
    margin:0;
    padding:0;
}
body{
    margin-left:auto;
    margin-right:auto;
    width:100%;
    max-widtH:1300px;
}
main{
    width:100%;

}
article{
    width:100%;

}
aside{
    position:sticky;
    display:flex;
    width:100%;
    max-width:300px;
}